*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .ck-editor__editable {
    min-height: 200px;
  }
 
  @media screen and (max-width: 480px) {
    .css-ds07z6 {
      margin-top: 0px !important;
    }
  
  }